extends baseEmail 

block content 
    p Hi #{firstName},
        p You have successfully booked an accomodation on the PnKINN app.
        p #{" "}
        p Accomodation: #{booking.acc}
        p ...........................................
        p Price Per Night: ##{booking.pricePerNight}.
        p ...........................................
        p Caution Fee: ##{booking.caution}
        p ...........................................
        p Total Price: ##{booking.total}
        p ...........................................
        p Adults: #{booking.adults}
        p ...........................................
        p Kids: #{booking.kids}
         p ...........................................
        p Start Date: #{booking.startDate}
        p ...........................................
        p End Date: #{booking.endDate}
        p #{" "}
        p Pay on arrival at our address.
        p We will reach out to you soon!
        p For more information contact support +2347062140248/+2349087866624 or +2347062098265/+2349087866625
        table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                            tbody
                                tr
                                    td
